    /*
 *  SCROLL BAR STYLE 4
 */

#style-4-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#style-4-scrollbar::-webkit-scrollbar {
  height: 3px;
  width: 15px;
}

#style-4-scrollbar::-webkit-scrollbar-thumb {
  background-color: #67708e;
  border-radius: 10px;
}