@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;600;700&display=swap");
:root {
  --background-color: #171624;
  --background-color-light: rgb(38, 37, 53);
  --primary-color: #207db3;
  --primary-light: #e5fff7;
  --primary-medium: #0e6ca5;
  --text-white: #ffffff;
  --text-rgba: rgba(255, 255, 255, 0.9);
  --text-rgba-light: rgba(255, 255, 255, 0.7);
  --text-rgba-dark: rgba(255, 255, 255, 0.3);
  --text-rgba-medium: rgba(255, 255, 255, 0.8);
  --arrow-color: #1290cb;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  /* 1rem = 10px  10px/16px = 62.5% */
  font-family: "Manrope" sans-serif;
}

body {
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-white);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.button-container {
  padding-bottom: 20rem;
}

@media (max-width: 992px) {
  .button-container {
    padding-bottom: 5rem;
  }
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 4px;
  gap: 10px;
  width: 200px;
  height: 72px;
  background: var(--primary-color);
  border-radius: 4px;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .button {
    padding: 4px 2px;
    width: 130px;
    height: 50px;
    font-size: 18px;
  }
}

.h-text {
  position: relative;
}

.h-text .imageOne {
  bottom: 0;
  left: 0;
  width: 65% !important;
  -o-object-fit: contain;
     object-fit: contain;
}

.h-text .imageTwo {
  bottom: 0;
  left: 2%;
  -o-object-fit: contain;
     object-fit: contain;
}

.reason .circle__light {
  width: 30%;
  height: 30%;
  background-color: var(--primary-color);
  bottom: 0;
  left: -20%;
  border-radius: 50%;
  -webkit-filter: blur(150px);
          filter: blur(150px);
}

#issues .circle,
#contact .circle {
  width: 20%;
  height: 20%;
  background-color: var(--primary-color);
  bottom: 0;
  right: -10%;
  border-radius: 50%;
  -webkit-filter: blur(110px);
          filter: blur(110px);
}

@media screen and (max-width: 768px) {
  #issues .circle,
  #contact .circle {
    right: 0;
    -webkit-filter: blur(60px);
            filter: blur(60px);
  }
}

.innovation .image__large {
  top: 0;
  right: -10.9%;
  width: 20%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

@media screen and (max-width: 768px) {
  .innovation .image__large {
    right: 0;
  }
}

.innovation .image__medium {
  top: 3%;
  right: -11%;
  width: 15%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

@media screen and (max-width: 768px) {
  .innovation .image__medium {
    right: 0;
  }
}

.innovation .image__small {
  top: 4.5%;
  right: -10%;
  width: 8%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

@media screen and (max-width: 768px) {
  .innovation .image__small {
    right: 0;
  }
}

.innovation .image__1 {
  bottom: 50%;
  left: 0;
  width: 20%;
}

.innovation .image__2 {
  bottom: 50%;
  left: 1%;
  width: 15%;
}

.innovation .image__3 {
  bottom: 50%;
  left: 4.2%;
  width: 8%;
}

#people .image__large {
  top: 50%;
  right: -10.9%;
  width: 20%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

@media screen and (max-width: 768px) {
  #people .image__large {
    display: none;
  }
}

#people .image__medium {
  top: 53%;
  right: -11%;
  width: 15%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

@media screen and (max-width: 768px) {
  #people .image__medium {
    display: none;
  }
}

#people .image__small {
  top: 54%;
  right: -10%;
  width: 8%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

@media screen and (max-width: 768px) {
  #people .image__small {
    display: none;
  }
}

#testmonial .image__large {
  bottom: 0;
  left: -10%;
  width: 20%;
}

#testmonial .image__small {
  bottom: 2%;
  left: -8%;
  width: 15%;
}

.header {
  width: 100%;
}

.header .h-text {
  -webkit-box-flex: 0.4;
      -ms-flex: 0.4;
          flex: 0.4;
}

.header .h-text .logo {
  left: 0;
  top: 0px;
  width: 125px;
  height: 125px;
  -o-object-fit: contain;
     object-fit: contain;
}

.header .h-text .text .heading-intro {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: var(--primary-color);
}

.header .h-text .text .heading {
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  color: var(--text-white);
}

.header .h-text .text .heading span {
  color: var(--primary-color) !important;
}

.header .h-text .text .rate .d-flex {
  border-left: 2px solid var(--text-rgba-dark);
}

.header .h-text .text .rate .d-flex :nth-child(1) {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: var(--text-white);
}

.header .h-text .text .rate .d-flex :nth-child(2) {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: var(--text-rgba-dark);
}

.header .h-text .text .description {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 140.6%;
  color: var(--text-rgba-light);
}

.header .h-image {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  right: 0;
  background: var(--primary-color);
}

@media (max-width: 992px) {
  .header .h-image {
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header .h-image img {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 992px) {
  .header .h-image img {
    top: 0;
    left: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    position: static !important;
  }
}

.registration {
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 8rem 5rem;
}

@media (max-width: 768px) {
  .registration {
    padding: 4rem 1rem;
  }
}

.registration .reg-left {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  left: -10rem;
  top: -2.5rem;
  background: var(--primary-light);
  border-radius: 5px;
}

@media (max-width: 768px) {
  .registration .reg-left {
    left: 0;
    top: 0;
    margin-right: 2rem;
  }
}

.registration .reg-left :nth-child(1) {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 140%;
  letter-spacing: 0.015em;
  color: var(--background-color);
}

@media (max-width: 768px) {
  .registration .reg-left :nth-child(1) {
    font-size: 30px;
  }
}

.registration .reg-left :nth-child(2) {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.41em;
  color: var(--background-color);
}

@media (max-width: 768px) {
  .registration .reg-left :nth-child(2) {
    font-size: 20px;
    letter-spacing: 0.02em;
  }
}

.registration .reg-right {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
}

.registration .reg-right :nth-child(1) {
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 140%;
  letter-spacing: 0.015em;
  color: var(--text-white);
}

@media (max-width: 768px) {
  .registration .reg-right :nth-child(1) {
    font-size: 30px;
  }
}

.registration .reg-right :nth-child(2) {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.015em;
  color: var(--text-rgba-light);
}

@media (max-width: 768px) {
  .registration .reg-right :nth-child(2) {
    font-size: 18px;
  }
}

.registration .reg-right .reg-logo {
  height: 80px;
  margin-right: 4rem !important;
}

.registration .reg-right .reg-logo img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.reason {
  padding-top: 5rem;
  -webkit-box-flex: 0.3;
      -ms-flex: 0.3;
          flex: 0.3;
}

.reason h1 {
  position: relative;
  padding-bottom: 5rem;
  font-size: 48px;
}

@media (max-width: 768px) {
  .reason h1 {
    font-size: 30px;
  }
}

@media (max-width: 500px) {
  .reason h1 {
    font-size: 20px;
  }
}

.reason h1 span::before {
  content: "";
  background: var(--primary-medium);
  height: 7rem;
  width: 5px;
  left: 0;
  top: 0;
  position: absolute;
}

@media (max-width: 500px) {
  .reason h1 span::before {
    top: -1.5rem;
  }
}

.reason .description {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.015em;
  color: var(--text-white);
  opacity: 0.5;
  width: 30%;
}

@media (max-width: 768px) {
  .reason .description {
    width: 100%;
    font-size: 16px;
  }
}

.reason .row {
  margin-top: 5rem;
}

.reason .row > :nth-child(1) {
  margin-right: -1.5rem;
}

.reason .row > :nth-child(3) .card {
  background-color: var(--primary-color);
  border: none;
}

.reason .row > :nth-child(3) .card .reg-logo {
  height: 40px;
  margin-top: 5rem;
}

.reason .row > :nth-child(3) .card .reg-logo img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.reason .row > div .card {
  background-color: transparent;
  border: 1px solid var(--text-rgba-dark);
  padding: 4rem 2rem;
}

.reason .row > div .card h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  /* identical to box height */
  color: var(--text-white);
  opacity: 0.9;
}

@media (max-width: 768px) {
  .reason .row > div .card h5 {
    font-size: 25px;
  }
}

.reason .row > div .card .card-text {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.015em;
  color: var(--text-white);
  opacity: 0.5;
}

@media (max-width: 768px) {
  .reason .row > div .card .card-text {
    font-size: 18px;
  }
}

.reason .image__slider span {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 66px;
  color: rgba(255, 255, 255, 0.9);
}

.reason .pagination :nth-child(2) {
  background: var(--primary-medium);
}

.reason .pagination :nth-child(3) {
  background: var(--arrow-color);
}

.reason .pagination button {
  outline: none;
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

.reason .pagination button i {
  font-size: 18px;
  color: var(--background-color);
}

.reason .image-container {
  width: 95%;
  height: 50vh;
  background: var(--primary-color);
  margin-top: 7rem;
}

.reason .image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: -2rem;
  left: 2rem;
}

.innovation {
  padding: 0 20rem;
  padding-top: 10rem;
}

@media (max-width: 992px) {
  .innovation {
    padding: 0 0;
    padding-top: 5rem;
  }
}

.innovation h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#69bdd2));
  background: linear-gradient(180deg, #ffffff 0%, #69bdd2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 768px) {
  .innovation h1 {
    font-size: 30px;
  }
}

@media (max-width: 500px) {
  .innovation h1 {
    font-size: 20px;
  }
}

.innovation h1 span {
  background: -webkit-gradient(linear, left bottom, left top, from(#207db3), to(#207db3));
  background: linear-gradient(360deg, #207db3 0%, #207db3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.innovation p {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 140.6%;
  text-align: center;
  color: #ffffff;
  opacity: 0.5;
}

@media (max-width: 992px) {
  .innovation p {
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  .innovation p {
    font-size: 16px;
  }
}

.innovation video {
  width: 100%;
  margin-bottom: 3rem;
}

@media (max-width: 500px) {
  .innovation video {
    padding: 0 10px;
  }
}

#benefits .row {
  margin-top: -2rem;
}

#benefits .row .card {
  padding: 0 0.5rem;
}

#benefits .row .card-title {
  color: var(--text-rgba-dark);
}

#opportunity {
  background-color: var(--primary-color);
}

#opportunity h1 span::before {
  content: "";
  background: var(--text-white);
}

#opportunity .row > :nth-child(1) {
  margin-right: 0;
}

#opportunity .row > :nth-child(3) .card {
  background-color: var(--primary-color);
  border: none;
}

@media (max-width: 992px) {
  #opportunity .row > :nth-child(3) .card {
    height: auto;
  }
}

#opportunity .row .card {
  background-color: transparent;
  border: 1px solid var(--text-rgba-dark) !important;
  padding: 4rem 2rem;
  height: 20rem;
}

#opportunity .row .card .card-body span {
  font-style: normal;
  font-weight: 600;
  font-size: 24px !important;
  line-height: 140%;
  letter-spacing: 0.015em;
  color: var(--text-rgba);
}

#opportunity .row .card .card-text {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.015em;
  color: var(--text-rgba-light);
}

#opportunity .opportunity-logo {
  width: 80px;
  height: 80px;
}

#opportunity .opportunity-logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

#issues .grid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 5rem;
}

#issues .grid-container > :nth-child(6) {
  border: none;
}

@media screen and (max-width: 768px) {
  #issues .grid-container > :nth-child(6) {
    display: none;
  }
}

#issues .grid-container > :nth-child(10) {
  border: none;
}

@media screen and (max-width: 768px) {
  #issues .grid-container > :nth-child(10) {
    display: none;
  }
}

#issues .card {
  -ms-flex-preferred-size: 18%;
      flex-basis: 18%;
  background-color: transparent;
  border: 1px solid var(--text-rgba-dark);
  padding: 20px;
  text-align: start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 20px;
}

#issues .card i {
  font-size: 30px;
  color: var(--text-rgba-dark);
}

#issues .card h3 {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.015em;
  color: #ffffff;
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  #issues .card {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
}

@media screen and (max-width: 480px) {
  #issues .card {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

#people .row {
  margin-top: 5rem;
}

#people .row > :nth-child(1) {
  margin-right: 0;
}

#people .row > :nth-child(3) .card {
  background-color: transparent;
  border: none;
}

#people .row > div .card {
  background-color: transparent;
  border: 1px solid var(--text-rgba-dark);
  padding: 0;
}

#people .row > div .card h5 {
  font-size: 32px;
}

@media (max-width: 768px) {
  #people .row > div .card h5 {
    font-size: 25px;
  }
}

#people .row > div .card .card-text {
  font-size: 20px;
}

@media (max-width: 768px) {
  #people .row > div .card .card-text {
    font-size: 18px;
  }
}

#people .row .card__header {
  height: 50%;
}

#people .row .card__header .image-background {
  height: 30rem;
  width: 100%;
}

#people .row .card__header .image-background img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

#people .row .card__header .image-background::before {
  content: "";
  position: absolute;
  background: var(--primary-color);
  height: 70%;
  width: 50%;
  z-index: -1;
}

#testmonial h1 span::before {
  top: 2rem !important;
  position: absolute;
}

@media (max-width: 500px) {
  #testmonial h1 span::before {
    top: -1rem !important;
  }
}

#testmonial .row {
  margin-top: 5rem;
}

#testmonial .row > :nth-child(1) {
  margin-right: 0;
}

#testmonial .row .card {
  background-color: var(--background-color-light);
}

#testmonial .row .card .profile .content h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  color: var(--text-white);
}

@media screen and (max-width: 500px) {
  #testmonial .row .card .profile .content h4 {
    font-size: 18px;
  }
}

#testmonial .row .card .profile .content p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--text-rgba-dark);
}

@media screen and (max-width: 500px) {
  #testmonial .row .card .profile .content p {
    font-size: 12px;
  }
}

#contact .contact {
  background: var(--primary-color);
  padding: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#contact .contact p {
  letter-spacing: 0.15em;
}

@media screen and (max-width: 768px) {
  #contact .contact p {
    letter-spacing: 0;
  }
}

#contact .contact p span {
  cursor: pointer;
}

.footer {
  border-top: 1px solid var(--text-rgba-dark);
}

.footer .container {
  padding: 5rem 0;
}

.footer .brand {
  -webkit-box-flex: 0.3;
      -ms-flex: 0.3;
          flex: 0.3;
  border-right: 2px solid var(--text-rgba-dark);
  height: 20rem;
  margin-right: 5rem;
}

@media screen and (max-width: 992px) {
  .footer .brand {
    border-right: 0;
    border-bottom: 2px solid var(--text-rgba-dark);
    height: 5rem;
  }
}

.footer .brand h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 66px;
  color: var(--text-rgba-medium);
}

@media screen and (max-width: 768px) {
  .footer .brand h1 {
    font-size: 30px;
  }
}

.footer .row {
  -webkit-box-flex: 0.7;
      -ms-flex: 0.7;
          flex: 0.7;
}

@media screen and (max-width: 992px) {
  .footer .row {
    margin-top: 4rem;
  }
}

.footer .row .list__item h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: var(--text-rgba-medium);
}

.footer .row .list__item .items span {
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: var(--text-rgba-medium);
}

.footer p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: var(--text-rgba-medium);
}
